multimodality_env
utils/h5_folder/
!utils/h5_folder/convert_old_to_new_pretraining_time.py
utils/*_folder2
utils/geojson
*.pyc
lightning_logs
slurm_scripts/*-err.*
slurm_scripts/*-out.*
slurm_scripts/outputs/
slurm_scripts/multimodality_booster_env
wandb/
run-err.*
run-out.*
slurm_scripts/planet_sentinel_multimodality_downstream
practice_tests
slurm_scripts/optuna_studies
*.pdf
*.png
slurm_scripts/*.pkl
slurm_scripts/multimodality_cluster_env/
slurm_scripts/planet_sentinel_multimodality_self_supervised/
slurm_scripts/planet_sentinel_baseline/
slurm_scripts/planet_sentinel_multimodality_self_supervised_point/
slurm_scripts/planet_sentinel_multimodality_self_supervised_temporal/
utils/h5_folder_v2/
*.pkl
slurm_scripts/planet_sentinel_baseline_0/
slurm_scripts/planet_sentinel_baseline_1/
slurm_scripts/planet_sentinel_baseline_10/
slurm_scripts/planet_sentinel_baseline_11/
slurm_scripts/planet_sentinel_baseline_12/
slurm_scripts/planet_sentinel_baseline_13/
slurm_scripts/planet_sentinel_baseline_14/
slurm_scripts/planet_sentinel_baseline_15/
slurm_scripts/planet_sentinel_baseline_16/
slurm_scripts/planet_sentinel_baseline_17/
slurm_scripts/planet_sentinel_baseline_18/
slurm_scripts/planet_sentinel_baseline_19/
slurm_scripts/planet_sentinel_baseline_2/
slurm_scripts/planet_sentinel_baseline_20/
slurm_scripts/planet_sentinel_baseline_21/
slurm_scripts/planet_sentinel_baseline_22/
slurm_scripts/planet_sentinel_baseline_23/
slurm_scripts/planet_sentinel_baseline_24/
slurm_scripts/planet_sentinel_baseline_3/
slurm_scripts/planet_sentinel_baseline_4/
slurm_scripts/planet_sentinel_baseline_5/
slurm_scripts/planet_sentinel_baseline_6/
slurm_scripts/planet_sentinel_baseline_7/
slurm_scripts/planet_sentinel_baseline_8/
slurm_scripts/planet_sentinel_baseline_9/
slurm_scripts/run_main_downstream2.sbatch
slurm_scripts/scripts.txt
slurm_scripts/scripts2.txt
utils/h5_folder3/


