multimodality_env
utils/*_folder
utils/*_folder2
utils/geojson
*.pyc
lightning_logs
slurm_scripts/*-err.*
slurm_scripts/*-out.*
slurm_scripts/outputs/
slurm_scripts/multimodality_booster_env
wandb/
run-err.*
run-out.*
slurm_scripts/planet_sentinel_multimodality_downstream
practice_tests
slurm_scripts/optuna_studies
*.pdf
*.png
slurm_scripts/*.pkl
slurm_scripts/multimodality_cluster_env/
slurm_scripts/planet_sentinel_multimodality_self_supervised/
slurm_scripts/planet_sentinel_baseline/
slurm_scripts/planet_sentinel_multimodality_self_supervised_point/
slurm_scripts/planet_sentinel_multimodality_self_supervised_temporal/
utils/h5_folder_v2/
*.pkl
